:root{
    --bgSoft:#1f3050;
    --bg: #1f3050;
    --text: #dee4eb;
    --textSoft: #cbd2d9;

}

*{
    margin: 0;

    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to bottom, #070707, #060606, #050505, #030303, #020202, #0d0d0d, #151515, #1b1b1b, #2a2a2a, #393a3a, #494b4b, #5a5c5c);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: var(--text);

}

a{
    color: inherit;
    text-decoration: none;
}
/* Navbar start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.links{
 display: flex;
 align-items: center;
 gap: 20px;
}

.searchButton {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    padding: 5px;
    border-radius: 8px;
}
.searchButton:hover{
    background-color: var(--bg);
    color: var(--text);
}

.logo {
    font-weight: bold;
    font-size: 24px;
    background: linear-gradient(45deg, #0887d1, #2ee583);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

span{
    font-size: 1.2rem;
}
/* Navbar finished */
/* FOOTER START */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-size: 14px;
  }
  
  .social {
    display: flex;
    gap: 10px;
  }
  
  /* FOOTER END */
  /* MAIN START */
  .listItem{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }

  .listItemImage{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .listItemText{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .listItemDetail {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  .listItemAvatar{
    border-radius: 50%;
    width: 24px;
    height: 24px;
    object-fit: cover;
    gap: 10px;
    display: flex;
  }
  .listItemCategories{
    display: flex;
    gap: 10px;
  
  }
  .listItemCategory{
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bgSoft);
    font-size: 14px;
    color: var(--textSoft);
  }
  .listItemCategory:hover{
    background-color: var(--bg);
    color: var(--text);
    text-decoration: underline;
  }
  .author{
    display: flex;
    align-items: center;
    gap: 10px;
  font-size: 13px;
  }
.container {
    max-width: 1366px;
    padding-left: 50px;
    padding-right: 50px;
    margin:  auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width:1536px) {
    .container {
        max-width: 1366px;
    }
}


@media (max-width:1366px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width:1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width:1024px) {
    .container {
        max-width: 768px;
        padding-left: 10;
        padding-right: 10px;
    }
}

@media (max-width:768px) {
    .container {
        max-width: 640px;
    }
    .links{
        font-size: 14px;
    }
}

@media (max-width:640px) {
    .container {
        max-width: 470px;
    }
}